{% extends "base.html" %}
{% load crispy_forms_filters %}

{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static "css/login-logout.css" %}">
{% endblock %}

{% block title %}
	<title>Login</title>
{% endblock %}

{% block content %}
	<div class="form-login">
		<form class="crispy-form" action="{% url "login" %}" method="post">
			{% csrf_token %}
			{{ form|crispy }}
			<input type="submit" value="Submit" class="btn btn-primary">
			<input type="hidden" name="next" value="{{ next }}">
		</form>
	</div>
{% endblock %}
