html, body {
    height: 100%;
}

body {
    background-color: white;
    background-image: url("../img/newspaper-list.jpg");
    background-size: inherit;
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
}

.title {
    color: white;
    font-size: 40px;
    font-family: "Comic Sans MS";
    float: left;
}

.crispy-form {
    width: 50%;
    padding: 0;
    background: linear-gradient(#9ca3dc, #6b778f);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin: 20px auto 0;
}


.btn-primary {
    margin-left: 90.6%;
}
