body {
    background-image: url("../img/newspaper-list.jpg");
}

.row h1 {
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.article-item {
    display: block;
    margin: 10px 10px 10px 10px;
    border: #1992e3 2px solid;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(#9ca3dc, #6b778f);
    text-align: center;
    padding: 10px;
}

.article-name h1 {
    color: black;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    font-family: "Comic Sans MS";
}

.content {
    font-size: 22px;
    font-family: "David Libre";
    padding: 20px;
}

.article-bottom {
    display: flex;
    align-items: center;
    margin-top: 25px;

}

.article-viewed {
    margin-right: 10px;
}

.article-viewed span {
    margin-right: 5px;
    font-size: 17px;
}


.ml-auto {
    margin-left: auto;
    font-size: 25px;
}

.mr-auto {
    margin-left: 21%;
    font-size: 16px;
    transition: font-size 0.2s;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 0 5px;
    margin: 0 auto;
}

.container-cards {
    display: grid;
    width: 100%;
    grid-template-columns: auto;
}


.ml-auto:hover {
    background-color: #28a745;
    border-radius: 4px;
}


.article-bottom {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.name-redactors {
    margin-left: auto;
}
