<header class="header">
		<div class="header-section">
			<div class=" header-logo">
				PressPortal
			</div>
			<div class="header-item header-btn">
				<a href="#">Home</a>
			</div>
			<div class="header-item header-btn">
				<a href="#">All Newspapers</a>
			</div>
			<div class="header-item header-btn">
				<a href="#">All Topics</a>
			</div>
			<div class="header-item header-btn">
				<a href="#">All Redactor</a>
			</div>
		</div>
		<div class="header-section">
			<div class="header-item header-btn">
				Log In
			</div>
		</div>
	</header>