{% extends "base.html" %}
{% load static %}

{% block style %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
	<main>
		<div class="background-img-main">
			<img width="100%" src="{% static "img/main.jpg" %}" class="background"/>
			<div class="main-text">
				<h1>PressPortal</h1>
				<p>The best newspapers in the world</p>
			</div>
			<div class="text-count table-main-1">
				<p>{{ context.num_newspapers }}</p>
				<h1>Newspapers</h1>
			</div>
			<div class="text-count table-main-2">
				<p>{{ context.num_topics }}</p>
				<h1>Topics</h1>
			</div>
			<div class="text-count table-main-3">
				<p>{{ context.num_redactors }}</p>
				<h1>Redactors</h1>
			</div>
				<div class="btn-main">
					<a href="{% url "redact_radar:newspaper-list" %}">
					List Newspaper
				</a>
				</div>
		</div>
	</main>
{% endblock %}