{% extends "base.html" %}
{% load static %}
{% block style %}
	<link rel="stylesheet" href="{% static "css/topic_list.css" %}">
{% endblock %}
{% block content %}
	<div class="container">
	<div class="row">
	{% for topic in topic_list %}
		<div class="container-cards">
		<div class="article-item">
					<div class="article-name">
						<a href="#">› {{ topic.name }} ‹</a>
					</div>
					<p class="content">Newspapers in this topic: {{ topic.newspapers.count }}</p>
		</div>
	{% endfor %}
</div>
{% endblock %}


